<div class="chart">
  <div >
    
      
      <p>Seats <input  name ="seatsToFill" [(ngModel)]="totalSeats" ngDefaultControl   type="number" min="1" max="100" required></p>
      
        
      <p>Algorithm
        <select  name = "algorithm" [(ngModel)]="algorithm" ngDefaultControl  required>
              <option value="D'Hont">D'Hont</option>
              <option value="Saint-League">Saint-League</option>
        </select>
      </p>
      
      
      <p  name = "minimum" [(ngModel)]="minimum" ngDefaultControl  required>Minimum % <input type="number" min="1" max="49"></p>
      
      <p>Party <input name = "party" [(ngModel)]="currentParty.party" class="chart__form-input" type="text"    required> </p>
      <p>Votes <input name = "votes" [(ngModel)]="currentParty.votes" class="chart__form-input" type="number"  required> </p> 
            
      <button type="button"(click)="addOne()">+ 1 Party</button>
      <button type='button' (click)="calculate()">Calculate!</button>
      
  </div>
  <!-- <div class="chart__canvas-container">
    <canvas class="chart__canvas" width="200" height="200"></canvas>
  </div> -->
</div>


<p>Total votes: {{totalValidVotes}} Total seats: {{totalSeats}}</p>
<p>Percentage of votes to get seats: {{minimum}}%</p>
<p *ngIf="totalValidVotes>0"> {{algorithm}} Algorithm</p>


<div class="chart__ul-row">

  <div class="chart__list-container">
    <p>Votes</p>
    <ul class="chart__list" *ngFor="let party of finalResults; let i=index;">
      <li>{{ party.party | json }}:{{ party.votes | json }} <button type="button" (click)="remove(i)">Remove</button>
      </li>
    </ul>
  </div>

  <div class="chart__seats-container">
    <p>Final seats</p>
    <ul class="chart__list" *ngFor="let party of finalComposition; let i=index;">
      <li>{{ party[0] | json }}:{{ party[1] | json }}</li>
    </ul>
  </div>
</div>