<div class="chart">
  <form #myForm="ngForm" (submit)="submitForm(myForm)" class="chart__form">
    
      <p>Seats <input  name ="seatsToFill" ngModel ngDefaultControl   type="number" min="1" max="100" required></p>
    
      
      <p>Algorithm
        <select  name = "algorithm" ngModel ngDefaultControl  required>
            <option value="D'Hont">D'Hont</option>
            <option value="Saint-League">Saint-League</option>
        </select>
      </p>
    
    
        <p  name = "minimum" ngModel ngDefaultControl  required>Minimum % <input type="number" min="1" max="49"></p>
    
    
      

      
          <p>Party <input name = "party" [(ngModel)]="currentParty.party" class="chart__form-input" type="text"    required> </p>
          <p>Votes <input name = "votes" [(ngModel)]="currentParty.votes" class="chart__form-input" type="number"  required> </p> 
          
      
    
    <button type="button"(click)="addOne()">+ 1 Party</button>
    <button type='submit' >Calculate!</button>
    
  </form>
  <div class="chart__canvas-container">
    <canvas class="chart__canvas" width="300" height="300"></canvas>
  </div>
</div>

<ul class="chart__list" *ngFor="let party of finalResults; let i=index;" >
  <li>{{ party.party | json }}:{{ party.votes | json }} <button type="button"(click)="remove(i)">Remove</button></li>
</ul> 
