<form #myForm="ngForm" (submit)="submitForm(myForm);" class="communication-parent__form" >

    <!-- {{ myForm.value | json }} -->

    <div class="communication-parent__form-row">
        <p>Name:</p>
        <input type="text" name = "firstName" ngModel  minlength="2" required>
    </div>
    
    <div class="communication-parent__form-row" >
        <p>Surname:</p>
        <input type="text" name = "surname" ngModel  required>
    </div>
    
    <div class="communication-parent__form-row" >
        <p>Age:</p>
        <input type="number" name = "age" ngModel  required>
    </div>
    
    <div class="communication-parent__form-row" >
        <p>Email:</p>
        <input type="email" name = "email" ngModel required>
    </div>
    
    <div class="communication-parent__form-row margin-top-30">
        <button type="reset">Clear</button>
        <button type='submit'  >Submit!</button>
    </div>

    <p>There are currently {{ receivedNumberOfPeople }} people on the list.</p>
    <p>The last random number: {{ receivedRandomNumber }} </p>

</form>


<communication-child 
    [receivedPerson]="sentPerson" 
    (randomNumberToEmit)="receiveRandomNumber($event)"
    (numberOfPeople)="receiveNumberOfPeople($event)"></communication-child>


