.app{
  &__title{
    color: #FFFFFF;
    background-color: #1976D2;
    padding: 10px 0;
    box-shadow: 0 0 5px rgb(218, 223, 216);
    margin-bottom: 0px;
  }

  &__nav{
    overflow: scroll;
    display: flex;
    flex-flow: column;
    padding: 0 0;
  }

  &__block{
    display: flex;
  }

}