.chart{
    display: flex;

    &__canvas{
        border: 1px solid red;
        margin-left: 25%;

        &__container{
            width: 50%;
            padding-left: 50px;
        }
    }
    &__form{
        max-width: 45%;

        &-input{
            width: 80%;

            // &-seats{
            //     width: 50px;
            // }
        }
    }

    &__list{
        max-width: 150px;
        list-style-type: none;
        &-container{
            // overflow: scroll;
            height: 100px;
            max-height: 100px;
            width: 50%;
            
        }
        
    }

    &__seats{
        max-width: 150px;
        list-style-type: none;
        &-container{
            // overflow: scroll;
            height: 100px;
            max-height: 100px;
            width: 50%;
            
        }
    }

    &__ul{
        &-row{
            border: 1px solid blue;
            display: flex;
            overflow: scroll;
            height: fit-content;
        }
    }
}

