.frame {
  background-color: transparent;
  height: 500px;
  width: 70%;
  margin: 0 15%;
  border: 1px blue solid;
  overflow: scroll;

  
  &__card{
    border: 1px solid #ddd;
    margin-bottom: 1px;
  }

  &__name{
    color: orangered;
  }

  &__plot{
    
    margin: 5% 15%;
    text-align: initial;
  }

  &__title{
    font-size: 20px;
    font-style: bold;
    color: red;
  }
}