<!--component html goes here -->
<p *ngIf="people.length>0">List of people</p>
<button *ngIf="people.length>0" (click)="emitNumber()"></button>
<p >{{ people | json }}</p>

<div *ngIf="people.length>0">
        <ul  *ngFor="let person of people; trackBy: getPerson">
            <li>
                <ul>
                        <li>{{ people.firstName }}</li>
                        <li>{{ people.surname }}</li>
                        <li>{{ people.age }}</li>
                        <li>{{ people.email }}</li>
                        
                </ul>
            </li>    
        </ul>
</div>