<!--component html goes here -->
<p *ngIf="people.length>0">List of people</p>
<button *ngIf="people.length>0" (click)="emitNumber()"></button>
<p>{{ receivedPerson | json }}</p>

<ul *ngFor="let person of people; trackBy: getPerson">
    <li>
        <ul>
                <li>{{ receivedPerson.firstName }}</li>
                <li>{{ receivedPerson.surname }}</li>
                <li>{{ receivedPerson.age }}</li>
                <li>{{ receivedPerson.email }}</li>
                
        </ul>
    </li>    
</ul>