@import "./styles/app";
@import "./styles/buttons";
@import "./styles/chart";
@import "./styles/chuck";
@import "./styles/crud";
@import "./styles/classes";
@import "./styles/communication-parent";
@import "./styles/frame";
@import "./styles/lazy";
@import "./styles/movie";
@import "./styles/nasa-data";
@import "./styles/nasa-img";
@import "./styles/pipes";
@import "./styles/reactive-form";
@import "./styles/random-joke";


.margin-link{
    margin: 0 10px;
    padding: 10px 0 10px 5px;
    background-color: #FFFFFF;
    text-align: left;
    color: #000000;
    text-transform: uppercase;

    &:hover{
        background-color: #DBDBDB;
        color: #3887D4;
        text-decoration: none;
    }

    &:after{
        content: "➤";
        float: right;
    }
}