@import "./styles/app";
@import "./styles/buttons";
@import "./styles/chart";
@import "./styles/chuck";
@import "./styles/classes";
@import "./styles/communication-parent";
@import "./styles/frame";
@import "./styles/lazy";
@import "./styles/movie";
@import "./styles/nasa-data";
@import "./styles/nasa-img";
@import "./styles/pipes";


.margin-link{
    margin: 0 10px;
    padding: 10px;
    background-color: aliceblue;
}